/* header */
.header {
  background-color: var(--white-color);
  margin-bottom: 30px;
}
.header {
  background-color: var(--primary-color);
  height: var(--height-header);
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.button {
  --color: #6a5af9;
  font-family: "Poppins", sans-serif;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 500;
  outline: none;
  border: 1px solid var(--color);
  font-size: 16px;
  position: relative;
  isolation: isolate;
}

.button:before {
  content: "";
  height: 100%;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color);
  z-index: -1;
  transition: width 0.25s ease-in;
}

.button:hover:before {
  width: 100%;
}
